<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT8_rxNvsD0iDhKq_JmHe1fcVnUGOlHnY</string>
	<key>GCM_SENDER_ID</key>
	<string>166495519655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cocsi.final-project-weed</string>
	<key>PROJECT_ID</key>
	<string>swiftuiweed</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiweed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166495519655:ios:0c31a27ccd045a0001ac82</string>
</dict>
</plist>